.env
.venv/
.venv310/
__pycache__/
*.pyc
.vscode/

# Секретные и личные файлы (ПОРТФЕЛЬ!)
# Строго запрещаем пушить файлы с вашими реальными деньгами
*.json
*.csv
*.xlsx
*.xls
!securities.json # Исключение для словарей/системных файлов
!fundamentals_cache.csv

# Сгенерированные ботом медиафайлы
*.webp
*.gif
# Примечание: файл dashboard_demo.mp4 мы НЕ игнорируем, 
# чтобы он успешно загрузился на GitHub и показывался на сайте!

# Системный мусор ОС
.DS_Store
Thumbs.db!fundamentals_cache.csv
